<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/dalemusser/Desktop/2020-08-28_11-17-58.mp4</key>
	<data>
	Ym9va8gCAAAAAAQQMAAAAMo4zRNRHAKkE66pwoPCHNveZBSYt662VvD1lcpNy9WExAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGRhbGVtdXNzZXIAAAcA
	AAABAQAARGVza3RvcAAXAAAAAQEAADIwMjAtMDgtMjhfMTEtMTctNTgubXA0ABAAAAAB
	BgAAEAAAACAAAAA0AAAARAAAAAgAAAAEAwAAzbwKAAAAAAAIAAAABAMAAOUeEQAAAAAA
	CAAAAAQDAAD+HhEAAAAAAAgAAAAEAwAAy8wgAgAAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEHCfMDtciKCGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAcMTY0QEAAAgAAAAABAAAQcG4aH24sgMkAAAA
	AQEAADVBRUVGMUZBLTY3RTAtNDFEMS05NDU2LUY3MjUyNDhDQzMzMhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAAC8AAAAAAAAABAQAADkAAAAAAAAAEAQAADU
	AAAAAAAAAAIgAACwAQAAAAAAAAUgAAAgAQAAAAAAABAgAAAwAQAAAAAAABEgAABkAQAA
	AAAAABIgAABEAQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAAAAAAADAgAAC8AQAAAAAA
	AAHAAAAEAQAAAAAAABHAAAAgAAAAAAAAABLAAAAUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
